body {
    /* background-color: teal; */
    background-image: url("water_bg.png");
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}

div {
    /* background-color: darkgoldenrod; */
    background-color: rgba(255, 255, 255, 0.25);
    padding: 10px;
    margin-top: 40px;
    margin-bottom: 40px;

}

h1 {
    color: white;
    font-size: 50px;

}

p > img {
    max-width: 250px;

}


