<!DOCTYPE html>
    <head>
        <title>Momna's Portfolio</title>
        <link rel="stylesheet" href= "style.css">
        /* <!-- CSS only --> */
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">"
        /* java */
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    </head>
body {
    /* background-color: teal; */
    background-image: url("water_bg.png");
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}

div {
    /* background-color: darkgoldenrod; */
    background-color: rgba(255, 255, 255, 0.25);
    padding: 10px;
    margin-top: 40px;
    margin-bottom: 40px;

}

h1 {
    color: white;
    font-size: 50px;

}

p > img {
    max-width: 250px;

}


