
body {
    background-color: teal;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}
div {
    background-color: whitesmoke;
    padding: 10px;

}

h1 {
    color: white;
    font-size: 50px;

}















