
body {
    background-color: teal;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}

div {
    /* background-color: darkgoldenrod; */
    background-image: url("water_bg")
    padding: 10px;

}

h1 {
    color: white;
    font-size: 50px;

}

p > img {
    max-width: 250px;

}


